section {
  background-color: aquamarine;
  width: 800px;
  height: 800px;
}
div {
  background-color: black;
  width: 50%;
  height: 50%;
}

h1 {
  font-size: 40px;
  border: 1px solid black;
  line-height: 200%;
}

h2 {
  font-size: 2em;
}

article {
  font-size: 20px;
}
button {
  font-size: 1em;
  padding: 0 1em;
  border-radius: 0.5em;
  background-color: chartreuse;
}

ul {
  font-size: 0.7em;
}
