<%- include('partials/head') %> 
 
    <%- include('partials/navbar') %> 
    <h1>The home page<%= 4+ 5+ 1 %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos animi ex
      itaque aliquid voluptate voluptatibus placeat distinctio magni dolorem
      dolores ipsam aperiam, culpa nihil enim, illum a tenetur iste eligendi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas fugiat
      officia corporis quo commodi, eum vel rem facere provident sequi odio
      tenetur inventore quas nisi incidunt, veniam corrupti error atque?
    </p>

    <%- include('partials/footer') %>